.screen {
  position: relative;
  align-items: center;
  text-align: center;
  background: #f6f9fc;
  margin: 0 272px;
  height: 400px;
}

.input-container {
  margin-top: 10px;
  text-align: center;
}

span {
  display: block;
  font-size: 18px;
  margin: 10px 0 15px;
  color: #ff4800;
  font-weight: 600;
}

button {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

img {
  width: 80%;
  height: 80%;
  opacity: 0.6;
}