<div class="screen" *ngIf="isPlay$ | async">
  <app-play-info></app-play-info>
  <app-word></app-word>
  <span>{{ gameWords$ | async | json }} </span>
</div>
<div class="screen" *ngIf="!(isPlay$ | async)">
  <app-play-info></app-play-info>
  <app-game-over></app-game-over>
  <span>
    {{ gameWords$ | async | json }}
  </span>
</div>
<div class="input-container">
  <app-input (keyup.enter)="inputEvent($event)"></app-input>
  <app-button routerLink="/main">Stop</app-button>
</div>
<span>{{ isPlay$ | async }}</span>
